# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bak
/01LichtBurg/.vscode
01LichtBurg/Doku/Doxyfile
01LichtBurg/include/README
01LichtBurg/lib/README
/01LichtBurg/test
/02LichtTonGrill/.vscode
/03LichtBahnhof/.vscode
01LichtBurg/privat.ini
*/privat.ini
privat.ini
02LichtTonGrill/Hardware/ESP32S_DevKitCV4_datasheet.pdf
02LichtTonGrill/Hardware/SD-Kartenleser.pdf
02LichtTonGrill/Hardware/WTV020 SD+Sound Modul.pdf
02LichtTonGrill/Hardware/AD4Converter.EXE.url
02LichtTonGrill/Hardware/ALLFILES.zip
02LichtTonGrill/Hardware/SAMPLES-FILES-2.zip
02LichtTonGrill/Hardware/WTV020SD.pdf
01LichtBurg/Hardware/Audio/1.mp3
01LichtBurg/Hardware/Audio/2.mp3
01LichtBurg/Hardware/Audio/3.mp3
01LichtBurg/Hardware/Audio/4.mp3
02LichtTonGrill/Hardware/the_box_monster.ino
/02LichtTonGrill/Hardware/AD4 SAMPLES
