<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Borys.Bahn.Steuerprogramm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Borys.Bahn.Steuerprogramm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Borys.Bahn.Steuerprogramm.Properties.Settings>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="ComPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="fBMTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="fBMLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="fBMHight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="fBMWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="fBMSize" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="fBMPosition" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="fBL1Size" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="fBL1Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="fBSPosition" serializeAs="String">
                <value>150, 150</value>
            </setting>
            <setting name="fBSSize" serializeAs="String">
                <value>50, 50</value>
            </setting>
        </Borys.Bahn.Steuerprogramm.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Borys.Bahn.Steuerprogramm.Properties.Settings>
            <setting name="ReadTimeoutMs" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="WriteTimeoutMs" serializeAs="String">
                <value>5000</value>
            </setting>
        </Borys.Bahn.Steuerprogramm.Properties.Settings>
    </applicationSettings>
</configuration>