<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Borys.Bahn.Bahnsteuerung.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="PBahnsteuerung.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Borys.Bahn.Bahnsteuerung.Properties.Settings>
            <setting name="Comport" serializeAs="String">
                <value>/dev/null</value>
            </setting>
            <setting name="Comrate" serializeAs="String">
                <value>9600</value>
            </setting>
        </Borys.Bahn.Bahnsteuerung.Properties.Settings>
        <PBahnsteuerung.Properties.Settings>
            <setting name="Einstellung" serializeAs="String">
                <value>test</value>
            </setting>
        </PBahnsteuerung.Properties.Settings>
    </userSettings>
</configuration>
